<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insightbulb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.5/js/mdb.min.js"></script>
</head>
<body>
<div class="container wrapper">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ tidal_alert }}</h1>
                <h1 class="header">Insightbulb - Hawaii</h1>
                <h2 class="sub">Local data for the Hawaiian Islands</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="btn-group">
                    <a href="{{ url_for('index') }}" class="btn btn-outline-secondary">Back to main</a>
                </div>
            </div>
        </div>
    </div>
    <div class='container'>
        <div class="row">
            <div class="col">

                <table class="wave-table table">
                    <tbody>  
                        <thead>
                            <tr>
                                <th scope="col">Location</th>
                                <th scope="col">Wave Height</th>
                                <th scope="col">Dominant Wave Period</th>
                                <th scope="col">Average Period</th>
                                <th scope="col">Mean Wave Direction</th>
                                <th scope="col">Water Temperature</th>
                            </tr>
                        </thead>

                        <tr>
                            <th scope="row">Pearl Harbor Entrance, HI</th> 
                            {% for data in pearl_harbor %}
                                <td>{{ data }}</td>
                            {% endfor %}
                        </tr>
 
                        <tr>
                            <th scope="row">Kaneohe Bay, HI</th>
                            {% for data in kaneohe_bay %}
                                <td>{{ data }}</td>
                            {% endfor %}
                        </tr>

                         
                        <tr>
                            <th scope="row">Mokapu Point, HI</th>
                            {% for data in mokapu_point %}
                                <td>{{ data }}</td>
                            {% endfor %}
                        </tr>
                        
                        <tr>
                            <th scope="row">Barbers Point, Kalaeloa, HI</th>
                            {% for data in barbers_point %}
                                <td>{{ data }}</td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <th scope="row">Waimea Bay, HI</th>
                            {% for data in waimea_bay %}
                                <td>{{ data }}</td>
                            {% endfor %}
                        </tr>

                          
                        <tr>
                            <th scope="row">Kaumalapau Southwest, Lanai, HI</th>
                            {% for data in kaumalapau %}
                                <td>{{ data }}</td>
                            {% endfor %}
                        </tr>

                        
                        <tr>
                            <th scope="row">Pauwela, Maui, HI</th>
                            {% for data in pauwela %}
                                <td>{{ data }}</td>
                            {% endfor %}
                        </tr>

                        
                        <tr>
                            <th scope="row">Hilo, Hawaii, HI</th> 
                            {% for data in hilo %}
                                <td>{{ data }}</td>
                            {% endfor %}
                        </tr>

                         
                        <tr>
                            <th scope="row">Hanalei, Kauai, HI</th>
                            {% for data in hanalei %}
                                <td>{{ data }}</td>
                            {% endfor %}
                        </tr>
                        
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
{% block javascript %}
    <script type="text/javascript">
        {% include "JS/frontend.js" %}
    </script>
{% endblock %}
</body>
