<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insightbulb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    {% block javascript %}
        <script type="text/javascript">
            {% include "JS/basic_bulb_functions.js" %}
        </script>
    {% endblock %}
</head>
<body>
<div id="mount-point">
    <div class="container-fluid text-center">
        <h1 style="margin-left: 8px">Insightbulb</h1>
        <h5 style="margin-left: 8px">light bulbs that inform!</h5>

        <div class="row">
            <div class="col">
                <form action="/toggle-on/" method="post">
                    <button class="btn-outline-primary" name="ON" type="submit">ON</button>
                </form>
            </div>
            <div class="col">
                <form action="/toggle-off/" method="post">
                    <button class="btn-outline-danger" name="ON" type="submit">OFF</button>
                </form>
            </div>
            <div class="col">
                <form action="/toggle-flow/" method="post">
                    <button class="btn-outline-info" name="ON" type="submit">FLOW</button>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <select style="margin-left: 8px" name="region" method="GET" action="/">
                    {% for us_region_element in us_regions %}
                        <option value="{{ us_region_element }}" selected>{{ us_region_element }} </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</div>
</body>
</html>
