body {
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#1966ff)) fixed;
    font-family: 'Source Sans Pro', sans-serif;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    max-height: 200px;
}

#data-container {
    margin-top: 64px;
}

#tide-graph {
    margin-top: 32px;
}

#tide-table {
    max-width: 300px;
    margin-top: 10px;
    margin-left:auto;
    margin-right:auto;
}

/* Canvas Styling */

.card {
    background: none;
    border: none;
}

.datetime {
    font-size: 1rem;
    letter-spacing: .125rem;
    text-transform: uppercase;
    padding-bottom: 1rem;
}

.current_region {
    font-size: 1.5rem;
    letter-spacing: .125rem;
    text-transform: uppercase;
}

.header {
    font-size: 1.5rem;
    margin-top: 5rem;
    letter-spacing: .125rem;
}

.sub {
    font-size: 1rem;
    letter-spacing: .125rem;
}

#station-loader {
    display: none;
}

#station-success {
    display: none;
}

.tide-extrema-data {
    text-align: left;  
}
